:root {
  --dark: rgb(7, 7, 7);
  --primary: rgb(245, 181, 83);
  --second: rgb(133, 72, 54);
  --light: rgb(247, 247, 247);
  --background: rgb(43, 33, 30);
  --shadow: 3px 3px 5px rgba(7, 7, 7, 0.3);
  --scale-hover: 1.05;
}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: var(--background);
  color: var(--light);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2%;
  background-color: var(--second);
  border-bottom: 4px solid var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar .navbar-logo {
  display: flex;
  color: white;
  align-items: center;
}

.navbar .navbar-logo .text {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  padding-left: 1rem;
}

.navbar .navbar-nav a {
  color: var(--light);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0.5rem;
}
.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.25rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: linear 0.2s;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
  scale: 1.05;
  transition: linear 0.2s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra {
  display: flex;
  justify-content: end;
}

.navbar .navbar-extra button {
  background: none;
}

.navbar .navbar-extra a {
  display: flex;
  color: var(--light);
  align-items: center;
  margin: 0 0.5rem;
  cursor: pointer;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
  transition: linear 0.2s;
}

#sidebar-menu {
  display: none;
}

.navbar .search-form {
  display: flex;
  position: absolute;
  top: 120%;
  left: 35%;
  background-color: var(--background);
  width: 30%;
  height: 4rem;
  padding: 0 1rem;
  align-items: center;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  transform: scale(0);
  transition: 0.2s;
  opacity: 0.9;
  /* transform-origin:top ; */
}

.navbar .search-form.active {
  transform: scale(1);
}

.navbar .search-form input {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  color: var(--light);
  background: none;
}

.navbar .search-form label {
  cursor: pointer;
  padding-left: 1rem;
}

.navbar .navbar-search {
  display: flex;
  width: 50%;
  background-color: var(--background);
  opacity: 0.9;
  padding: 0.2rem 1rem;
  border-radius: 0.75rem;
  box-shadow: 3px 3px 5px rgba(7, 7, 7, 0.3);
}

.navbar .navbar-search input {
  width: 90%;
  color: var(--light);
  background: none;
}

.navbar .navbar-search .input-icon {
  color: var(--light);
}

.navbar .navbar-search .input-icon:hover {
  scale: 1.05;
  color: var(--primary);
}

/* Shopping Cart */
.shopping-cart {
  position: absolute;
  border-top: 4px solid var(--background);
  border-left: 4px solid var(--background);
  top: 100%;
  right: -100%;
  padding: 1.5rem;
  height: 100vh;
  width: 40rem;
  background-color: var(--second);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0%;
}

.shopping-cart .cart-item {
  position: relative;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 1rem;
  border-bottom: 2px solid var(--light);
}

.shopping-cart .cart-item img {
  height: 5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  border: 2px solid var(--light);
}

.shopping-cart .cart-item h2 {
  font-size: 1.6rem;
}

.shopping-cart .cart-item .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .cart-item .remove-item:hover {
  opacity: 0.75;
  transition: 0.2s;
  scale: 1.2;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../picture/main-element-picture4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(43, 33, 30, 1) 10%, rgba(43, 33, 30, 0) 100%);
}

.hero .content {
  padding: 1.4rem 7%;
  width: 50rem;
}

.hero .content h1 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 3px 3px 5px rgba(7, 7, 7, 0.3);
}

.hero .content h1 span {
  font-weight: 800;
  color: var(--primary);
}

.hero .content p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8;
  /* mix-blend-mode: difference; */
}

.hero .content .call-to-action {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--light);
  border-radius: 1rem;
  background-color: var(--second);
  box-shadow: 3px 3px 5px rgba(7, 7, 7, 0.3);
}

.hero .content .call-to-action:hover {
  background-color: rgb(114, 65, 50);
}

/* About */

.about,
.menu,
.contact,
.product {
  padding: 6rem 7% 1.4rem;
  min-height: 100vh;
  /* margin-bottom: 8rem; */
  align-content: center;
}

.about h1,
.menu h1,
.contact h1,
.product h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about .row .content p,
.menu .row .menu-card p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8;
}

.menu .content,
.contact .content,
.product .content {
  text-align: center;
  max-width: 36rem;
  margin: auto;
}

.about .row {
  position: -webkit-sticky;
  display: flex;
  align-items: center;
}

.about .row .about-img {
  flex: 1 1 40%;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.about .row .content {
  flex: 1 1 60%;
  margin-left: 2rem;
}

.about .row .content h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.about .row .content span {
  color: var(--primary);
  font-weight: 800;
}

/* Menu */

.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.menu .row .menu-card {
  text-align: center;
  margin: 1rem;
  background-color: var(--second);
  border-radius: 1rem;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  padding: 1.8rem;
}

.menu .row .menu-card img {
  width: 16rem;
  margin: 1rem;
  border-radius: 50%;
  border: 5px solid var(--primary);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

/* Product */

.product .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-top: 4rem;
}

.product .product-card {
  text-align: center;
  background-color: var(--second);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.product .product-card .product-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.product .product-card .product-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: var(--light);
  /* background-color: rgb(90, 56, 47); */
  margin: 0.25rem;
  border-radius: 50%;
  transition: 0.2s;
  /* box-shadow: var(--shadow); */
}

.product .product-card .product-icons a {
  transform: scale(1.2);
}

.product .product-card .product-icons a:hover {
  background-color: var(--light);
  color: var(--background);
  scale: 1.05;
}

.product .product-card .product-image {
  padding: 1rem 0;
}

.product .product-card .product-image img {
  height: 25rem;
  border: 5px solid var(--light);
  border-radius: 2rem;
  box-shadow: var(--shadow);
}

.product .product-card .product-content .product-stars {
  color: var(--primary);
  padding: 0;
  font-size: 1.4rem;
}

.product .product-card .product-content .product-stars .star-full {
  fill: var(--primary);
}

.product .product-card .product-content .product-price {
  font-size: 1.6rem;
  font-weight: 700;
}

.product .product-card .product-content .product-price span {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: line-through;
}

/* Contact */

.contact .row {
  display: flex;
  margin: auto;
  width: 85%;
  border-radius: 1rem;
  margin-top: 2rem;
  background-color: var(--second);
}

.contact .row .map {
  flex: 1 1 30rem;
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  border: 2px solid var(--primary);
  box-shadow: 5px 0px 8px rgba(7, 7, 7, 0.2);
}

.contact .row form {
  flex: 1 1 30rem;
  padding: 4rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin: 2rem;
  background: none;
  background-color: var(--light);
  opacity: 0.9;
  padding-left: 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px rgba(7, 7, 7, 0.3);
}

.contact .row form .input-icon {
  color: var(--dark);
  opacity: 0.8;
}

.contact .row form .input-group input {
  color: var(--dark);
  background: none;
  width: 100%;
  padding: 1.4rem;
  font-size: 1.2rem;
}

.contact .row form .message-button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.75rem 2rem;
  font-weight: 600;
  color: var(--light);
  font-size: 1.2rem;
  background-color: var(--background);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(7, 7, 7, 0.3);
}

.contact .row form .message-button:hover {
  opacity: 0.9;
  scale: 1.05;
  transition: linear 0.2s;
}

/* Button */
.menu .row .menu-card .add-to-cart-button {
  margin: 0.5rem;
  display: inline-block;
  padding: 0.75rem 2rem;
  font-weight: 600;
  color: var(--light);
  font-size: 1.2rem;
  background-color: var(--background);
  border-radius: 1rem;
  box-shadow: 3px 3px 5px rgba(7, 7, 7, 0.3);
}

.menu .row .menu-card .add-to-cart-button:hover {
  opacity: 0.9;
  scale: 1.05;
  transition: linear 0.2s;
}

footer {
  background-color: var(--second);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .socials {
  margin: 0.5rem;
}

footer .socials a {
  padding: 1rem;
  color: var(--light);
}

footer .links {
  margin: 0.5rem;
}

footer .links a {
  font-size: 1.2rem;
  margin: 0.8rem;
  color: var(--light);
}

footer .credit a {
  color: var(--light);
}

footer .socials a:hover {
  color: var(--primary);
  transition: linear 0.2s;
}

footer .links a:hover {
  color: var(--primary);
  transition: linear 0.2s;
}

footer .credit a:hover {
  color: var(--primary);
  transition: linear 0.2s;
}

/* Modal Box */

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .modal-container {
  position: relative;
  background-color: var(--background);
  color: var(--light);
  margin: auto;
  padding: 1.2rem;
  width: 80%;
  border-radius: 1rem;
  animation: animasiModal 0.5s;
}

.modal .modal-container .close-icon {
  position: absolute;
  margin: 0.5rem;
  right: 1rem;
  scale: 1.5;
  color: var(--light);
  border-radius: 50%;
}

.modal .modal-container .close-icon:hover {
  scale: 1.6;
  color: var(--dark);
  background-color: var(--primary);
  transition: 0.2s;
}

.modal .modal-container .modal-content {
  display: flex;
  /* flex-wrap: nowrap; */
}

.modal .modal-container .modal-content img {
  height: 24rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.modal .modal-container .modal-content .product-content {
  padding: 1rem;
}

.modal .modal-container .modal-content .product-content p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  width: 95%;
  margin-bottom: 1rem;
}

.modal .modal-container .modal-content .product-content .product-price {
  font-size: 1.6rem;
  font-weight: 700;
}

.modal .modal-container .modal-content .product-content .product-price span {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: line-through;
}

.modal .modal-container .modal-content .product-content a {
  display: flex;
  width: 12rem;
  margin: 1rem 0;
  padding: 0.75rem 1rem;
  gap: 1rem;
  font-weight: 600;
  color: var(--light);
  font-size: 1.2rem;
  background-color: var(--second);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: 0.2s;
}

.modal .modal-container .modal-content .product-content a:hover {
  scale: 1.05;
  opacity: 0.8;
}

/* Modal Animation */
@keyframes animasiModal {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

/* Break Point Start */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 90%;
  }

  .about,
  .menu,
  .contact {
    padding: 5.6rem 7% 1.4rem;
  }

  .about h1,
  .menu h1,
  .contact h1 {
    margin-bottom: 1rem;
  }

  .about .row .about-img {
    flex: 1 1 50%;
  }
  .about .row .about-img img {
    flex: 1 1 50%;
  }

  .about .row .content {
    flex: 1 1 50%;
  }

  .about .row .content h2 {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .about .row .content p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
  }

  /* Menu */
  .menu {
    padding: 5.6rem 7% 1.4rem;
  }

  .modal .modal-container .modal-content .product-content p {
    width: 90%;
  }

}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  .navbar .search-form {
    display: flex;
    position: absolute;
    top: 120%;
    left: 25%;
    background-color: var(--background);
    width: 50%;
  }

  .navbar .navbar-extra .navbar-search {
    display: none;
  }

  .about .row {
    justify-content: center;
    flex-wrap: wrap;
  }

  .about .row .about-img {
    flex: 0.5 0.5 50%;
  }

  .about .row .content {
    text-align: justify;
  }

  .about .row .content h2 {
    margin-top: 1rem;
    text-align: center;
  }

  .contact .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact .row .map {
    height: 20rem;
  }

  .modal-content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .modal .modal-container .close-icon {
    position: fixed;
    top: 92.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal .modal-container .close-icon:hover {
    transition: 0.2s;
    box-shadow: var(--shadow);
  }

  .modal .modal-container .modal-content .product-content p {
    width: 100%;
  }

  .modal .modal-container .modal-content .product-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 70%;
  }

  .navbar .search-form {
    display: flex;
    position: absolute;
    top: 120%;
    left: 25%;
    background-color: var(--background);
    width: 50%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--background);
    width: 18rem;
    height: 100vh;
    transition: 0.3s;
  }

  /* Navbar Ketika Sidebar menu di klik */
  .navbar .navbar-nav.active {
    right: 0;
  }
  /* Navbar Ketika Sidebar menu di klik */

  .navbar .navbar-nav a {
    display: block;
    margin: 1.2rem;
    padding: 1.6rem;
    color: var(--light);
  }

  .navbar .navbar-nav a:hover {
    color: var(--light);
    scale: 1;
    transition: linear 0.2s;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.25);
  }

  #sidebar-menu {
    display: inline-block;
  }

  .about .row .content {
    flex: 1 1 60%;
    margin-left: 0;
  }

  /* Menu */

  .menu .row .menu-card {
    padding: 1.8rem 6rem;
  }

  .menu .row .menu-card h2 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }

  .menu .row .menu-card h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }

  .menu .row .menu-card p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .menu .row .menu-card img {
    width: 16rem;
    border-radius: 50%;
    border: 5px solid var(--primary);
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }

  .menu .row .menu-card {
    text-align: center;
    margin: 1rem;
    background-color: var(--second);
    border-radius: 1rem;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }

  .menu .row .menu-card img {
    width: 16rem;
    border-radius: 50%;
    border: 5px solid var(--primary);
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }

  /* Button */
  .menu .row .menu-card .add-to-cart-button {
    margin: 0.5rem;
    display: inline-block;
    padding: 0.75rem 2rem;
    font-weight: 600;
    color: var(--light);
    font-size: 1.2rem;
    background-color: var(--background);
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(7, 7, 7, 0.3);
  }
}
/* Break Point End */
